body{
    background: black;
}
h1{
    color: #6fb6fd;
    padding: 18px 0;
    font-size: 2rem;
    text-align: center;
}

.container{
    background: linear-gradient(#adddf6, #b7bcf5);
    padding: 40px 35px;
    width: 20%;
    text-align: center;
    margin: 100px auto 0;
    border-radius: 15px;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    border: 0;
    outline: 0;
    padding: 10px 20px;
    height: 20px;
    border-radius: 20px;
    flex: 1;
    margin-right: 10px;
    background: whitesmoke;
}
.search button{
    border: 0;
    outline: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: none;
    background: whitesmoke;
}

.search button img{
    width: 25px;
}

.rain-icon{
    width: 160px;
    margin-top: 40px;
}
.current-weather h4{
    font-weight: bold;
    font-size: 40px;
}
.current-weather h3{
    font-weight: bold;
    font-size: 45px;

}
.bottom-left h4{
    font-weight: bold;
    font-size: 15px;
}
.bottom-right h4{
    font-weight: bold;
    font-size: 15px;
}
.bottom-right img{
    width: 40px;
}
.bottom-left img{
    width: 50px;
}
.weather-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}

.wind, .humidity{
    font-size: 10px;
    margin-top: 2px;
}


.current-weather{
    display: none;
} 
